.rounded-input {
    /*   border-radius: 20px !important; !* Adjust the value to control the roundness of the input *!
       padding: 8px  !important ;!* Adjust the padding as needed *!*/
    border: 2px solid var(--fieldStrokeEnabled);
    border-radius: 30px;
    padding: 0 12px;

}

.search-icon {
    margin-left: 5px; /* Adjust the margin to control the space between the input and the icon */
    cursor: pointer;
}

.form-rounded {
    border-radius: 1rem;
    border: 2px solid ;
    /*  border-radius: 30px;*/
    padding: 0 12px;
}


.bg-gold-600 {
    background-color: #1f1f1d !important;
    width: 20%;
}

.bg-gold-200 {
    background-color: #1f1f1d !important;
    width: 10%;
}

.enhanced-textarea {
    font-size: 20px;
    font-weight: bold;
    color: #6d767e;
    padding: 15px 15px;
    /* Additional CSS properties as needed */
}


.chat {
    text-align: center;
    padding: 20px;
}

.message-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.incoming {
    background-color: #f0f0f0;
    text-align: left;
}

.outgoing {
    background-color: #d1ffd7;
    text-align: right;
}

.message-input {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*button:hover {
    background-color: #0056b3;
}*/

.scrollableDiv {
    height: 500px;
    overflow: auto;
    //border: 1px solid #ccc;
    padding: 6px;
}

.scrollableDiv::-webkit-scrollbar {
    width: 8px;
}

.scrollableDiv::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.scrollableDiv::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.scrollableDiv::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



* {
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    margin: 10px 0px;
}

.container {
    width: 100vw;
    height: 90vh;
    display: grid;
    place-items: center;
}

.welcome_text {
    font-size: 1.2rem;
    font-weight:bold;
    border-right: 2px solid rgba(248, 242, 242, 0.02);
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typewriter 5s steps(55, end) forwards;
}

@keyframes typewriter {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}
