<div class="surface-0 flex justify-content-center">
    <div id="home" class="landing-wrapper ">
        <div
            class="py-4 px-4 mx-0 md:mx-6 lg:mx-8 lg:px-8 flex align-items-center justify-content-between relative lg:static mb-3">
            <a class="flex align-items-center" href="#">
                <img src="../../../../assets/layout/images/logo-N.png" alt="Sakai Logo" height="40"
                     class="mr-0 lg:mr-2">
                <span class="text-800 font-medium text-2xl line-height-3 mr-8">Nusuk </span>
            </a>
            <div
                class="align-items-center surface-0 flex-grow-1 justify-content-between hidden lg:flex absolute lg:static w-full left-0 px-6 lg:px-0 z-2"
                style="top:120px">
                <ul class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row cursor-pointer">
                    <li>
                        <a pRipple class="flex m-0 md:ml-5 px-0 py-3 text-900 font-medium line-height-3">
                            <span>Planning Your Nusuk Journy {{getServiceName()}}  {{  goWith()}}</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>


        <div
            class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
            <div class="font-bold mr-8"><i class="pi pi-discord"></i>&nbsp; POWERED BY AI</div>
            <div class="align-items-center hidden lg:flex">
                <span class="line-height-3"> Plan Your Umrah Journey with Ease .</span>
            </div>
            <a class="flex align-items-center ml-2 mr-8">
                <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
            </a>
            <a pRipple
               class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150"
               style="width:2rem; height: 2rem">
                <i class="pi pi-times"></i>
            </a>
        </div>


        <div class="flex flex-column pt-4 px-4 lg:px-8 overflow-hidden">
            <ng-container *ngIf="step==1">
                <div class="text-700 text-center">
                    <div class="text-900 font-bold text-3xl mb-3">Which Service You Need ?</div>
                </div>



                <div class=" px-4 py-5 md:px-6 lg:px-8">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6">
                            <a  (click)="setServiceType(1)">
                            <div  class="clickableDiv px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
                                  >
                                <div>
                                    <div class="text-black font-bold text-3xl mt-2 mb-3">Performing Umrah</div>
                                    <div class="text-white font-small text-muted ">Performing Umrah in Makkah</div>
                                </div>
                                 <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                                    <img width="50" height="50" src="assets/demo/images/landing/kaaba.png"/>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6">
                            <a  (click)="setServiceType(2)">
                            <div class="px-4 clickableDiv py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
                                >
                                <div>
                                    <div class="text-black font-bold text-3xl mt-2 mb-3">Rawda Visiting </div>
                                    <div class="text-white font-small text-muted ">Rawda Visiting In Madina</div>
                                </div>
                                <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                                    <img width="50" height="50" src="assets/demo/images/landing/kaaba.png"/>
                                </div>
                            </div>
                            </a>
                        </div>


                    </div>
                </div>

            </ng-container>

            <ng-container *ngIf="step==2">
                <div class="text-700 text-center">
                    <div class="text-900 font-bold text-3xl mb-3">Planning Dates</div>
                    <div class="text-500 font-bold text-2xl mb-3 text-muted">  <i class="pi pi-calendar" style="font-size: 2rem"></i> Start date → End date</div>
                    <p-calendar class="max-w-full" [(ngModel)]="date"    [inline]="true" selectionMode="range"  ></p-calendar>
                </div>

                <div class="text-700 text-center">
                    <div class="text-700 text-2xl mb-5  py-4 ">
                        <button (click)="next(2)" pButton pRipple label="Next Step"
                                class="p-button-rounded border-none ml-5 font-light line-height-2 bg-gold-600 text-white"></button>
                    </div>
                    <div class="surface-section px-4 py-6 md:px-6 lg:px-8">
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="step==3">
                <div class="text-700 text-center">
                    <div class="text-900 font-bold text-3xl mb-3">Who’s coming with you?</div>
                </div>
                <div class=" px-4 py-5 md:px-6 lg:px-12">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-4">
                            <a  (click)="setComingWith(1)">
                                <div  class="clickableDiv px-4 py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
                                  >
                                    <div>
                                        <div class="text-black font-bold text-3xl mt-2 mb-3">Going Alone</div>
                                    </div>
                                    <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                                        <img width="50" height="50" src="assets/demo/images/landing/kaaba.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 md:col-6 lg:col-4">
                            <a  (click)="setComingWith(2)">
                                <div class="px-4 clickableDiv py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
                                  >
                                    <div>
                                        <div class="text-black font-bold text-3xl mt-2 mb-3">Family</div>
                                    </div>
                                    <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                                        <img width="50" height="50" src="assets/demo/images/landing/kaaba.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-12 md:col-6 lg:col-4">
                            <a  (click)="setComingWith(3)">
                                <div class="px-4 clickableDiv py-5 shadow-2 flex flex-column md:flex-row md:align-items-center justify-content-between mb-3"
                                  >
                                    <div>
                                        <div class="text-black font-bold text-3xl mt-2 mb-3">Friends</div>
                                    </div>
                                    <div class="mt-4 mr-auto md:mt-0 md:mr-0">
                                        <img width="50" height="50" src="assets/demo/images/landing/kaaba.png"/>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>

            </ng-container>


            <ng-container *ngIf="step==4">
                <div class="text-700 text-center">
                    <div class="text-900 font-bold text-3xl mb-3">Please add Your Notes </div>
                </div>
                <textarea class="form-control form-rounded enhanced-textarea" [(ngModel)]="input1" rows="3"
                          placeholder="Optional Information ..."></textarea>
                <div class="text-700 text-center">
                    <div class="text-700 text-2xl mb-5  py-4 ">
                        <button (click)="next(4)" pButton pRipple label="Submit"
                                class="p-button-rounded border-none ml-5 font-light line-height-2 bg-gold-600 text-white"></button>
                    </div>

                </div>
            </ng-container>

            <ng-container *ngIf="finished">
                <div class="text-700 text-center">
                    <div class="text-900 font-bold text-3xl mb-3">
                      Keep Calm Our AI System Collecting Data For you ...
                    </div>
                    <p-progressSpinner *ngIf="loading" styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".8s"></p-progressSpinner>
                </div>

          <!--      <div class="text-700 text-center">
                    <div class="text-700 text-2xl mb-5  py-4 ">
                        <button (click)="next(4)" pButton pRipple label="Submit"
                                class="p-button-rounded border-none ml-5 font-light line-height-2 bg-gold-600 text-white"></button>
                    </div>

                </div>-->
            </ng-container>



            <hr/>
            <div id="features" class="py-4 px-4 mx-0 mt-8 lg:mx-8">

                <div class="grid justify-content-between">
                    <div class="col-12 md:col-2" style="margin-top:-1.5rem;">
                        <a (click)="router.navigate(['/pages/landing'], {fragment: 'home'})"
                           class="flex flex-wrap align-items-center justify-content-center md:justify-content-start md:mb-0 mb-3 cursor-pointer">
                            <img src="../../../../assets/layout/images/logo-N.png" alt="footer sections" width="50"
                                 height="50" class="mr-2">
                            <h4 class="font-medium text-3xl text-900">Nusuk Advisor AI</h4>
                        </a>
                    </div>

                    <div class="col-12 md:col-10 lg:col-7">
                        <div class="grid text-center md:text-left">
                            <div class="col-12 md:col-3">
                                <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Company</h4>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">About Us</a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">News</a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Investor
                                    Relations</a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Careers</a>
                                <a class="line-height-3 text-xl block cursor-pointer text-700">Media Kit</a>
                            </div>

                            <div class="col-12 md:col-3 mt-4 md:mt-0">
                                <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Resources</h4>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Get Started</a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Learn</a>
                                <a class="line-height-3 text-xl block cursor-pointer text-700">Case Studies</a>
                            </div>

                            <div class="col-12 md:col-3 mt-4 md:mt-0">
                                <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Community</h4>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Discord</a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Events<img
                                    src="../../../../assets/demo/images/landing/new-badge.svg" class="ml-2"/></a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
                                <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
                            </div>

                            <div class="col-12 md:col-3 mt-4 md:mt-0">
                                <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Legal</h4>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Brand Policy</a>
                                <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacy Policy</a>
                                <a class="line-height-3 text-xl block cursor-pointer text-700">Terms of Service</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
